


{%extends 'base.html'%}

{%block title%}
HOME
{%endblock%}

{%block content%}

<body class="container-fluid" style="font-size: large; background-color: #D5D8DC;">
    <h2>About Us</h2>    
    <div class="row">
        <div class="col-4 "></div>
        <div class="col-8">
            <p>My neighborhood is a neighborhood hub for trusted connections and the exchange of helpful information, goods, and services. We believe that by bringing neighbors together, we can cultivate a kinder world where everyone has a neighborhood they can rely on.

                Building connections in the real world is a universal human need. That truth, and the reality that neighborhoods are one of the most important and useful communities in our lives, have been a guiding principle for My neighborhood since the beginning.</p>
            <ul>
                <li>Build a stronger neighbourhood, Connect with your neighbours to stay informed and share useful local information.</li>
                <li>Spread the word about a lost dog</li>
                <li>Recommend and discover favorite local businesses</li>
                <li>Recommend for a job opportunity</li>
                <li>Community communication</li>
                <li>Receive important safety information from local agencies</li>
                <li>Get to know your neighborhood</li>
            
            </ul>
            <p>Neighborhood is free, and it’s easy to <a href="#">sign up</a></p>
        </div>
        
    </div>
     
   
</body>

{%endblock%}