<nav class="navbar navbar-inverse" style="margin: 0;">
  <div class="container-fluid position-fixed">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="font-family: 'Hanalei Fill';font-size: 30px; color: whitesmoke; " href="/">Digital Neighbourhood</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li {% if pages=='index'%} class="active" {%endif%}><a href="{{url_for('main.index')}}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
        <li {% if pages=='about'%} class="active" {%endif%}><a href="{{url_for('main.about')}}">About </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li {% if pages=='post'%} class="active" {%endif%}><a href="{{url_for('main.post', uname=current_user.username)}}">Create Post</a></li>
        <li {% if pages=='profile'%} class="active" {%endif%}><a href="{{url_for('main.profile',user=current_user.username)}}"><span><img src="{{url_for('static',filename='/profile/'+current_user.profile_pic_path)}}" style="width: 25px; height: 25px;" class="img-circle"></span>{{current_user.username}}</a></li>
        <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-user"></span> Sign out</a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"> </span>Sign in</a></li>
        {%endif%}
      </ul>
    </div>
  </div>
</nav>
